<div ng-init="userState='<%= user.state %>';isClockedIn=(userState==='working');userEmail='<%= user.credentials.email %>';userLunch=<%= user.hadlunch %>;"></div>
<!-- PROFILE INFORMATION -->
<div class="col-sm-5 col-md-9 pull-left">
    <iframe class="pull-right animate-if col-sm-4 col-lg-5" ng-if="locUrl" style="max-width: 100%; border:0; margin-top: 50px" height="250px" frameborder="0" ng-src="{{locUrl}}"></iframe>
    <div ng-switch="userState" class="animate-switch-container">
        <div class=" animate-switch" ng-switch-when="off">
            <button class="pull-left btn btn-primary btn-lg" ng-class="{'disabled': AJAXLoading}" ng-click="clockIn()">Clock In</button>
        </div>
        <div class=" animate-switch" ng-switch-when="working">
            <button class="pull-left btn btn-warning btn-lg" ng-class="{'disabled': AJAXLoading}" ng-show="!userLunch" ng-click="toLunch()">Go to Lunch</button>
            <button class="pull-left btn btn-danger btn-lg" ng-class="{'disabled': AJAXLoading}" ng-click="clockOut()">Clock Out</button>
        </div>
        <div class=" animate-switch" ng-switch-when="lunch">
            <button class="pull-left btn btn-success btn-lg" ng-class="{'disabled': AJAXLoading}" ng-click="fromLunch()">Back from Lunch</button>
            <button class="pull-left btn btn-danger btn-lg" ng-class="{'disabled': AJAXLoading}" ng-click="clockOut()">Clock Out</button>
        </div>
    <span class="pull-left alert alert-danger animate-switch" ng-switch-default>Your clock-in isn't consistent, please contact support</span>
    </div>
</div>
<div class="col-sm-3 pull-right">
    <div class="well sidebar">
        <h3><span class="fa fa-user"></span> <%= user.fullname %></h3>
        <div class="bs-callout text-center lead" ng-class="{'bs-callout-info': userState === 'working','bs-callout-warning':userState === 'lunch','bs-callout-danger':userState === 'sick','bs-callout-danger':userState === 'off'}">{{userState}}</div><br>
        <p>
            <strong>username</strong>: <%= user.credentials.email %><br><br>
            <button class="btn btn-warning center-block" ng-click="changePass=!changePass" ng-show="!changePass">Change Password</button>

            <button ng-disabled="forms.changePassword.$invalid" class="btn btn-warning center-block" ng-click="sendPass()" ng-show="changePass">Save</button>

            <button class="btn btn-info pull-right" style="margin-top: -35px;" ng-click="changePass=!changePass" ng-show="changePass">Cancel</button>
        </p>
    </div>
        <form name="forms.changePassword" ng-if="changePass" class="animate-if">
            <div class="form-group">
                <label>New Password</label>
                <input type="password" class="form-control" name="newPassword" ng-model="forms.changePassword.pass" equals="{{forms.changePassword.passconfirm}}" required>
            </div>
            <div class="form-group" name="confirmation">
                <label>Confirm New Password</label>
                <input type="password" class="form-control" name="confirmationPassword" ng-model="forms.changePassword.passconfirm" equals="{{forms.changePassword.pass}}" required>
            </div>

            <div class="alert-danger alert" ng-show="forms.changePassword.confirmationPassword.$error.equals">
                The password and confirm password fields must be the same.
            </div>
        </form>
</div>