<div ng-init="userState='<%= user.state %>';isClockedIn=(userState==='working');userEmail='<%= user.credentials.email %>';userLunch=<%= user.hadlunch %>;"></div>
<!-- PROFILE INFORMATION -->
<div class="col-sm-3">
    <div ng-if="selectedLog.locUrl" class="well map pull-left animate-if">
        <strong>Location of selected log entry</strong>
        <iframe frameborder="1" height="250px" width="100%" ng-src="{{selectedLog.locUrl}}"></iframe>
    </div>
    <div ng-if="locUrl" class="well map pull-left animate-if">
        <strong>Location Now</strong>
        <iframe frameborder="1" height="250px" width="100%" ng-src="{{locUrl}}"></iframe>
    </div>
    <div ng-switch="userState" class="animate-switch-container" style="min-width:250px;">
    <div class=" animate-switch" ng-switch-when="off">
        <button class="pull-left btn btn-primary btn-lg" ng-class="{'disabled': AJAXLoading}" ng-click="clockIn()">Clock In</button>
    </div>
    <div class=" animate-switch" ng-switch-when="working">
        <button class="pull-left btn btn-warning btn-lg" ng-class="{'disabled': AJAXLoading}" ng-show="!userLunch" ng-click="toLunch()">Go to Lunch</button>
        <button class="pull-left btn btn-danger btn-lg" ng-class="{'disabled': AJAXLoading}" ng-click="clockOut()">Clock Out</button>
    </div>
    <div class=" animate-switch" ng-switch-when="lunch">
        <button class="pull-left btn btn-success btn-lg" ng-class="{'disabled': AJAXLoading}" ng-click="fromLunch()">Back from Lunch</button>
    </div>
    <span class="pull-left alert alert-danger animate-switch" ng-switch-default>Your clock-in isn't consistent, please contact support</span>
    </div>
</div>
<div class="col-sm-6 text-center" style="margin-top: 50px;">
    <h3>Your Activity Log</h3>
    <div class="table-responsive">
        <div class="lead text-center">from <quick-datepicker class="center-block" ng-model='startDate'></quick-datepicker> to  <quick-datepicker class="center-block" ng-model='endDate'></quick-datepicker> <button class="btn btn-default btn-sm" ng-click="refreshLog()">go</button></div>
        <input type="search" class="form-control" ng-model="query" placeholder="search for date in format YYYY-mm-dd">
        <table class="table table-bordered table-hover table-condensed">
            <thead>
            <tr>
                <th class="text-center">day</th>
                <th class="text-center">action</th>
                <th class="text-center">time</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat-start="logDays in userLogArray | filter:query | orderBy:'dayDate':true | startFrom:currentPage*pageSize | limitTo:pageSize">
                <td rowspan="{{logDays.logEntries.length+1}}">
                    {{logDays.dayDate | date: 'EEE, M/d/yy'}}<br><br>
                    <em>{{logDays.worked_minutes/60 | number:2}} worked hours</em><br>
                    <em>{{logDays.lunch_minutes | number:0 }} lunch minutes</em><br>
                    <em ng-if="logDays.overtime_minutes">{{logDays.overtime_minutes/60 | number:2}} overtime hours</em><br>
                </td>
            </tr>
            <tr ng-repeat-end ng-repeat="entry in logDays.logEntries | orderBy:'datetime':true" class="clickable" ng-class="{'active': entry.selected}" ng-click="selectLog(entry)">
                <td>{{entry.action}}</td>
                <td>{{entry.datetime | date: 'shortTime'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="center-block">
        <button class="btn btn-sm" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
            Previous
        </button>
        {{currentPage+1}}/{{numberOfPages()}}
        <button class="btn btn-sm" ng-disabled="currentPage >= userLogArray.length/pageSize - 1" ng-click="currentPage=currentPage+1">
            Next
        </button>
    </div>
</div>
<div class="col-sm-3">
    <div class="well sidebar">
        <h3><span class="fa fa-user"></span> <%= user.fullname %></h3>
        <div class="bs-callout text-center lead" ng-class="{'bs-callout-info': userState === 'working','bs-callout-warning':userState === 'lunch','bs-callout-danger':userState === 'sick','bs-callout-danger':userState === 'off'}"><strong>{{userState}}</strong></div>
        <div ng-show="workedHours" class="bs-callout text-center lead" ng-class="{'bs-callout-info': workedHours > 8, 'bs-callout-danger': workedHours < 8}"> worked {{workedHours | number:2}} hours today</div>
        <div ng-show="lunchminutes" class="bs-callout text-center lead" ng-class="{'bs-callout-info': (lunchminutes <= 60 && lunchminutes >= 30), 'bs-callout-warning': (lunchminutes > 60 || lunchminutes < 30)}"> had a {{lunchminutes | number:0}} minute lunch today</div>
        <div ng-show="overHours" class="bs-callout bs-callout-info text-center lead"> worked {{overHours | number:2}} hours overtime today</div><br>
        </div>
    </div>
<div class="col-sm-3 pull-right">
    <div class="well sidebar">
        <p>
            <strong>username</strong>: <%= user.credentials.email %><br><br>
            <a class="clickable" ng-click="changePass=!changePass" ng-show="!changePass">Change Password</a>

            <button ng-disabled="forms.changePassword.$invalid" class="btn btn-warning center-block" ng-click="sendPass()" ng-show="changePass">Save</button>

            <button class="btn btn-info pull-right" style="margin-top: -35px;" ng-click="changePass=!changePass" ng-show="changePass">Cancel</button>
        </p>
    </div>
        <form name="forms.changePassword" ng-if="changePass" class="animate-if">
            <div class="form-group">
                <label>New Password</label>
                <input type="password" class="form-control" name="newPassword" ng-model="forms.changePassword.pass" equals="{{forms.changePassword.passconfirm}}" required>
            </div>
            <div class="form-group" name="confirmation">
                <label>Confirm New Password</label>
                <input type="password" class="form-control" name="confirmationPassword" ng-model="forms.changePassword.passconfirm" equals="{{forms.changePassword.pass}}" required>
            </div>

            <div class="alert-danger alert" ng-show="forms.changePassword.confirmationPassword.$error.equals">
                The password and confirm password fields must be the same.
            </div>
        </form>
</div>